*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container-fluid{
    padding: 0 10px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

body{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/lamune_side_back.jpg);
}

main{
    min-height: 90vh;
    background-color: #ffffff;
}

.top{
    background-image: url(../images/ramune.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.top-content{
    background-color: rgba( 255, 255, 255, 0.5);
    height: 100%;
}

/* .other-content{
    background-color: rgba( 255, 255, 255, 0.5);
    height: 100%;
} */

h1, h2, h3, .navbar-brand, .nav-link, .btn{
    font-family: Chalkduster, "Bradley Hand", "Segoe Print", sans-serif;
}

.navbar-brand{
    vertical-align: -10px;
    font-size: 1.5rem
}

h1{
    font-size: 70px;

}

h2 {
    position: relative;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black;
    background-color: white;
    color: #333;
    font-weight: bold;
    font-size: 26px;
}

h2:before {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) skew(-25deg);
    height: 20px;
    width: 10px;
    border-right: 3px solid black;
    background-color: white;
    content: "";
}

.problem_box{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.problem_box p {
    margin: 0; 
    padding: 0;
}

.too_long_text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.long_text{
    white-space: pre-wrap; /*Textareaで保存したテキストの改行を表示させる方法 */
}


