{% extends "layout.html" %}

{% block title %}
    index5
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-3 col-12 offset-md-1 mt-4">
        <h2><i class="far fa-star"></i> Problem Index <i class="far fa-star"></i></h2>
    </div>

    <div class="col-md-3 offset-md-1 mt-5 d-none d-md-block">
        <a href="/{{user.id}}/new" class="btn btn-outline-dark btn--radius btn--cubic d-none d-md-block"><i class="fas fa-angle-double-right fa-position-left"></i> Register New Problem <i class="fas fa-angle-double-left fa-position-right"></i></a>
    </div>

    <div class="col-md-3 mx-auto mt-5 d-none d-md-block">
        <a href="/{{user.id}}/tasks" class="btn btn-outline-dark btn--radius btn--cubic d-none d-md-block"><i class="fas fa-angle-double-right fa-position-left"></i> Try Today's Tasks <i class="fas fa-angle-double-left fa-position-right"></i></a>
    </div>

    <div class="col-11 mx-auto mt-4">
        <table class="table table-striped text-start index">
            <thead>
                <tr>
                    <th style="width: 10%">Creation Date</th>
                    <th style="width: 10%">Last Tried Date</th>
                    <th style="width: 5%">Stage</th>
                    <th style="width: 10%">Title</th>
                    <th style="width: 15%">Content</th>
                    <th style="width: 10%">Answer</th>
                    <th style="width: 10%"></th>
                    <th style="width: 10%"></th>
                    <th style="width: 10%"></th>
                    <th style="width: 10%"></th>
                    
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr data-href="/{{ user.id }}/{{ problem.id }}">
                    <td>{{ problem.created_at | show_datetime }}</td>
                    <td>{{ problem.last_time | show_datetime }}</td>
                    <td>{{ problem.stage }}</td>
                    <td>{{ problem.title }}</td>
                    <td id="long_text">
                        <script>
                            long_text({{ problem.body |tojson }});
                        </script>
                    </td>
                    <td>...</td>
                    <td><a class="btn btn-outline-dark w-100" href="/{{ user.id }}/{{ problem.id }}"><i class="fas fa-search me-1"></i>Show</a></td>
                    <td><a class="btn btn-outline-primary w-100" href="/{{ user.id }}/{{ problem.id }}/trytry"><i class="fas fa-pencil-alt me-1"></i>Try</a></td>
                    <td><a class="btn btn-outline-success w-100" href="/{{ user.id }}/{{ problem.id }}/update"><i class="far fa-edit me-1"></i>Edit</a></td>
                    <td><a class="btn btn-outline-danger w-100" href="/{{ user.id }}/{{ problem.id }}/delete" onclick="return confirm_delete()"><i class="fas fa-trash-alt me-1"></i>Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
