{% extends "layout.html" %}

{% block title %}
    Task
{% endblock %}

{% block main %}
    <h2>Task</h2>
    <a href="/{{ user.id }}/index">index</a>
    <table class="table table-striped text-start index">
        <thead>
            <tr>
                <th style="width: 5%">created_at</th>
                <th style="width: 5%">last_time</th>
                <th style="width: 20%">title</th>
                <th style="width: 5%">stage</th>
                <th style="width: 30%">body</th>
                <th style="width: 10%">answer</th>
                <th style="width: 15%">to try</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr data-href="/{{ user.id }}/{{ problem.id }}">
                <td>{{ problem.created_at }}</td>
                <td>{{ problem.last_time }}</td>
                <td>{{ problem.title }}</td>
                <td>{{ problem.stage }}</td>
                <td>
                    <script>
                        long_text({{ problem.body | tojson }});
                    </script>
                </td>
                <td>...</td>
                <td><a class="btn btn-primary" href="/{{ user.id }}/{{ problem.id }}/trytry">To Trytry</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
