{% extends "layout.html" %}

{% block title %}
    Task
{% endblock %}

{% block main %}
    <div class="col-md-3 col-12 offset-md-1 pt-4">
        <h2><i class="far fa-star"></i> Tasks <i class="far fa-star"></i></h2>
    </div>

    
    <div class="col-11 mx-auto mt-5">
        <table class="table table-striped text-start index">
            <thead>
                <tr>
                    <th style="width: 10%">Creation Date</th>
                    <th style="width: 10%">Last Tried Date</th>
                    <th style="width: 10%">Title</th>
                    <th style="width: 5%">Stage</th>
                    <th style="width: 25%">Content</th>
                    <th style="width: 10%">Answer</th>
                    <th style="width: 15%"></th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr data-href="/{{ user.id }}/{{ problem.id }}">
                    <td>{{ problem.created_at | show_datetime }}</td>
                    <td>{{ problem.last_time | show_datetime }}</td>
                    <td>{{ problem.title }}</td>
                    <td>{{ problem.stage }}</td>
                    <td>
                        <script>
                            long_text({{ problem.body | tojson }});
                        </script>
                    </td>
                    <td>...</td>
                    <td><a class="btn btn-outline-primary w-100" href="/{{ user.id }}/{{ problem.id }}/trytry"><i class="fab fa-angellist"></i> Try the problem</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
{% endblock %}
