{% extends "layout.html" %}

{% block title %}
    Top
{% endblock %}

{% block main %}

    <div>
        <h1>Welcome To Lamune</h1>
        <h2>for all student</h2>
        
        <h3>Intro</h3>
        <p>ここはジャンルを問わず、勉強をする人へ向けたWebページです。</p>

        <h3>このページの使い方</h3>
        <ul>
            <li>ログインまたはサインアップを行ってください</li>
            <li>新規登録から問題を登録してください</li>
            <li>Tasks をクリックして今日の問題を解きましょう</li>
            <li>あなたが忘れたころに、また同じ問題が出てきます</li>
            <li>覚えたい問題や知識を登録しておくだけで、最適なタイミングであなたに問題を出してくれます。</li>
        </ul>
        <p>さあ、今すぐ学びを始めよう！</p>
    </div>

    <div>
        <h3>ログインページ</h3>
        <a href="/login">ログイン</a>
        
        <h3>はじめての方はこちらから</h3>
        <a href="/signup">新規登録</a>
    </div>
    

{% endblock %}
