{% extends "layout.html" %}

{% block title %}
    Top
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12 my-5 pb-5">
        <h1>Welcome To Lamune</h1>
        <h3>~ for all students ~</h3>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-11 col-12">
        <div class="mb-5">
            <h3>Intro</h3>
            <p>ここはジャンルを問わず、勉強をする人へ向けたWebページです。</p>
        </div>
        <div class="mb-5">
            <h3>How to use</h3>
            <ol class="list-group list-group-numbered w-75 mx-auto text-start">
                <li class="list-group-item">ログインまたはサインアップを行ってください</li>
                <li class="list-group-item">新規登録から問題を登録してください</li>
                <li class="list-group-item">Tasks をクリックして今日の問題を解きましょう</li>
                <li class="list-group-item">あなたが忘れたころに、また同じ問題が出てきます</li>
                <li class="list-group-item">覚えたい問題や知識を登録しておくだけで、最適なタイミングであなたに問題を出してくれます。</li>
            </ol>
            <p>さあ、今すぐ学びを始めよう！</p>
        </div>
    </div>
    
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-11 col-12">
        <div class="mb-5">
            <h3 class="mb-3">Log In</h3>
            <p>ログインして一緒に勉強しよう！</p>
            <a class="btn btn-outline-primary w-50" href="/login"><i class="fas fa-user-check"></i> Log in</a>
        </div>
        
        <div class="mb-5">
            <h3 class="mb-3">For New User</h3>
            <p>はじめての方はこちらから新規登録を行ってください！</p>
            <a class="btn btn-outline-primary w-50" href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
        </div>
    </div>
</div>
{% endblock %}
