{% extends "layout.html" %}

{% block title %}
    TryTry
{% endblock %}

{% block main%}
<h2>Try</h2>


<p>最後に解いた日　{{ problem.last_time }}</p>


<p>{{ problem.title }}</p>


<!-- スタートボタンをおしたら以下が表示される -->
<p>{{ problem.body }}</p>

<!-- ボタンを押したら以下が表示 -->
<!-- 経過時間を表示 -->
<input type="button" value="Show or Hide Answer" onclick="show_answer()" />
<textarea id="show_answer" class="w-100" rows="4">{{ problem.answer }}</textarea>

<form action="/{{ user.id }}/{{ problem.id }}/trytry" method="POST" class="mx-auto w-75 text-start">
    <div class="form-check mb-3">
        <input class="form-check-input" name="result" type="radio" value="Correct" checked>
        <label class="form-check-label">Correct</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="result" type="radio" value="Incorrect">
        <label class="form-check-label">Incorrect</label>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit" >Submit</button>
    </div>
</form>

{% endblock %}


{% block js %}
<script>
    document.getElementById("show_answer").style.display ="none";
    
    function show_answer(){
    const answer = document.getElementById("show_answer");
    if(answer.style.display=="block"){
        // noneで非表示
        answer.style.display ="none";
    }else{
        // blockで表示
        answer.style.display ="block";
    }
}
</script>
{% endblock %}


